streamlit
openai
pandas
openpyxl
textblob
vaderSentiment
sentence-transformers
hdbscan
umap-learn
gensim
plotly
xgboost
pycountry
unidecode
ollama
deep-translator
langdetect
shape
lightgbm
catboost
seaborn